## What is a Data Dictionary?

A **Data Dictionary** is like a manual or guide for your dataset.  
It explains:

- **What each column means**
- **What values are possible**
- **What data type it should be**
- **Any important notes about the column**

In [1]:
import sys
from pathlib import Path
import pandas as pd

sys.path.append(str(Path("/home/abdullah/Desktop/EDA-arsenal")))

from datasets import Loader

df = Loader().load_housingDataset()

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [3]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [4]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [5]:
df=Loader().load_titanicDataset()
data_dict = pd.DataFrame({
    "Column Name": df.columns,
    "Data Type": df.dtypes.astype(str),
    "Missing %": (df.isnull().mean() * 100).round(2)
})

data_dict

             Column Name Data Type  Missing %
PassengerId  PassengerId     int64       0.00
Survived        Survived     int64       0.00
Pclass            Pclass     int64       0.00
Name                Name    object       0.00
Sex                  Sex    object       0.00
Age                  Age   float64      19.87
SibSp              SibSp     int64       0.00
Parch              Parch     int64       0.00
Ticket            Ticket    object       0.00
Fare                Fare   float64       0.00
Cabin              Cabin    object      77.10
Embarked        Embarked    object       0.22